<table id="sudoku-grid-container">
    <tbody>
        <tr>
            <td class="sub00 y0 x0" id="-0-0-">0</td>
            <td class="sub00 y0 x1" id="-0-1-">0</td>
            <td class="sub00 y0 x2" id="-0-2-">0</td>
            <td class="sub01 y0 x3" id="-0-3-">0</td>
            <td class="sub01 y0 x4" id="-0-4-">0</td>
            <td class="sub01 y0 x5" id="-0-5-">0</td>
            <td class="sub02 y0 x6" id="-0-6-">0</td>
            <td class="sub02 y0 x7" id="-0-7-">0</td>
            <td class="sub02 y0 x8" id="-0-8-">0</td>
        </tr>
        <tr>
            <td class="sub00 y1 x0" id="-1-0-">0</td>
            <td class="sub00 y1 x1" id="-1-1-">0</td>
            <td class="sub00 y1 x2" id="-1-2-">0</td>
            <td class="sub01 y1 x3" id="-1-3-">0</td>
            <td class="sub01 y1 x4" id="-1-4-">0</td>
            <td class="sub01 y1 x5" id="-1-5-">0</td>
            <td class="sub02 y1 x6" id="-1-6-">0</td>
            <td class="sub02 y1 x7" id="-1-7-">0</td>
            <td class="sub02 y1 x8" id="-1-8-">0</td>
        </tr>
        <tr>
            <td class="sub00 y2 x0" id="-2-0-">0</td>
            <td class="sub00 y2 x1" id="-2-1-">0</td>
            <td class="sub00 y2 x2" id="-2-2-">0</td>
            <td class="sub01 y2 x3" id="-2-3-">0</td>
            <td class="sub01 y2 x4" id="-2-4-">0</td>
            <td class="sub01 y2 x5" id="-2-5-">0</td>
            <td class="sub02 y2 x6" id="-2-6-">0</td>
            <td class="sub02 y2 x7" id="-2-7-">0</td>
            <td class="sub02 y2 x8" id="-2-8-">0</td>
        </tr>
        <tr>
            <td class="sub10 y3 x0" id="-3-0-">0</td>
            <td class="sub10 y3 x1" id="-3-1-">0</td>
            <td class="sub10 y3 x2" id="-3-2-">0</td>
            <td class="sub11 y3 x3" id="-3-3-">0</td>
            <td class="sub11 y3 x4" id="-3-4-">0</td>
            <td class="sub11 y3 x5" id="-3-5-">0</td>
            <td class="sub12 y3 x6" id="-3-6-">0</td>
            <td class="sub12 y3 x7" id="-3-7-">0</td>
            <td class="sub12 y3 x8" id="-3-8-">0</td>
        </tr>
        <tr>
            <td class="sub10 y4 x0" id="-4-0-">0</td>
            <td class="sub10 y4 x1" id="-4-1-">0</td>
            <td class="sub10 y4 x2" id="-4-2-">0</td>
            <td class="sub11 y4 x3" id="-4-3-">0</td>
            <td class="sub11 y4 x4" id="-4-4-">0</td>
            <td class="sub11 y4 x5" id="-4-5-">0</td>
            <td class="sub12 y4 x6" id="-4-6-">0</td>
            <td class="sub12 y4 x7" id="-4-7-">0</td>
            <td class="sub12 y4 x8" id="-4-8-">0</td>
        </tr>
        <tr>
            <td class="sub10 y5 x0" id="-5-0-">0</td>
            <td class="sub10 y5 x1" id="-5-1-">0</td>
            <td class="sub10 y5 x2" id="-5-2-">0</td>
            <td class="sub11 y5 x3" id="-5-3-">0</td>
            <td class="sub11 y5 x4" id="-5-4-">0</td>
            <td class="sub11 y5 x5" id="-5-5-">0</td>
            <td class="sub12 y5 x6" id="-5-6-">0</td>
            <td class="sub12 y5 x7" id="-5-7-">0</td>
            <td class="sub12 y5 x8" id="-5-8-">0</td>
        </tr>
        <tr>
            <td class="sub20 y6 x0" id="-6-0-">0</td>
            <td class="sub20 y6 x1" id="-6-1-">0</td>
            <td class="sub20 y6 x2" id="-6-2-">0</td>
            <td class="sub21 y6 x3" id="-6-3-">0</td>
            <td class="sub21 y6 x4" id="-6-4-">0</td>
            <td class="sub21 y6 x5" id="-6-5-">0</td>
            <td class="sub22 y6 x6" id="-6-6-">0</td>
            <td class="sub22 y6 x7" id="-6-7-">0</td>
            <td class="sub22 y6 x8" id="-6-8-">0</td>
        </tr>
        <tr>
            <td class="sub20 y7 x0" id="-7-0-">0</td>
            <td class="sub20 y7 x1" id="-7-1-">0</td>
            <td class="sub20 y7 x2" id="-7-2-">0</td>
            <td class="sub21 y7 x3" id="-7-3-">0</td>
            <td class="sub21 y7 x4" id="-7-4-">0</td>
            <td class="sub21 y7 x5" id="-7-5-">0</td>
            <td class="sub22 y7 x6" id="-7-6-">0</td>
            <td class="sub22 y7 x7" id="-7-7-">0</td>
            <td class="sub22 y7 x8" id="-7-8-">0</td>
        </tr>
        <tr>
            <td class="sub20 y8 x0" id="-8-0-">0</td>
            <td class="sub20 y8 x1" id="-8-1-">0</td>
            <td class="sub20 y8 x2" id="-8-2-">0</td>
            <td class="sub21 y8 x3" id="-8-3-">0</td>
            <td class="sub21 y8 x4" id="-8-4-">0</td>
            <td class="sub21 y8 x5" id="-8-5-">0</td>
            <td class="sub22 y8 x6" id="-8-6-">0</td>
            <td class="sub22 y8 x7" id="-8-7-">0</td>
            <td class="sub22 y8 x8" id="-8-8-">0</td>
        </tr>
    </tbody>
</table>

<br>

<button (click)="subs_coloring()" mat-raised-button class="firstRowBttns">
    <span>subs</span>
</button>
<button (click)="rows_coloring()" mat-raised-button class="firstRowBttns">
    <span>rows</span>
</button>
<button (click)="cols_coloring()" mat-raised-button class="firstRowBttns">
    <span>cols</span>
</button>
<button (click)="null_coloring()" mat-raised-button class="firstRowBttns">
    <span>[&nbsp;]</span>
</button>

<br>
<br>

<button (click)="input_fT_tF_output()" mat-raised-button class="secondRowBttns" id="generate-bttn">
    <span>generate</span>
</button>
<button (click)="rerender_UI_state()" mat-raised-button class="secondRowBttns" id="solve-bttn">
    <span>solve</span>
</button>

<br>